.Dictionary h5 {
    margin-bottom: 8px;
    text-align: center;
    color: #FFF2D7;
}

.Dictionary input {
    width: 100%;
    padding: 6px 4px;
    margin-right: 5px;
    border: 2px solid #FFF2D7;
    border-radius: 5px;
}

.Dictionary .hint {
    font-size: 10px;
    margin-bottom: 5px;
    opacity: 75%;
    color: #FFF2D7;
}

.btn-custom {
    background: #FFF2D7;
    color:  #561434;
}

.btn-custom:hover {
    background: #561434;
    color: #FFF2D7;
    border: 1px solid #FFF2D7;
}